* {
        box-sizing: border-box;
}

body{
        margin: 0;
        min-width: 1300px;
}

header{
        height: 150px;
        background-color: #4169B9;
}

header a{
        text-decoration: none;
        color: white;
}

#titleClock{
        float: left;
        width: 95%;
        height: 145px;
}

#title{
        text-align: center;
        padding: 0px 0px 10px 0px;
        color: white;
}

#sm-icons{
        padding: 0px 4px;
        text-align: right;
        float: right;
        height: 145px;
        width: 5%;
        max-width: 50px;
}

#sm-icons a{
        width: 25px;
        height: 25px;
        font-size: 20px;
        text-decoration: none;
        color: white;
        padding: 2px;
        margin: 4px;
}

#date-time{
        padding: 10px 20px 0px 20px;
        font-family: 'Open Sans', sans-serif;
        color: white;
}


main{
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px;
        color: #2f2f2f
}

#selections{
        display: table;
        width: 1200px;
}

#stationSelect{
        display: table;
        width: 40%;
        margin: 2px 0px;
}

#stationSelect div{
        float: left;
        margin-right: 10px;
}

#stationSelect, #radioButtons{
        float: left;
}

.button {
    font-family: 'Open Sans', sans-serif;
}

#radioButtons{
        display: table;
        width: 60%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        float: left;
}

#radioButtons div{
        float: left;
        margin: 2px 5px;
        padding: 2px;
}

#dataDisplay{
        display: table;
}


#currentWeather{
        display: table;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        width: 1200px;
}

#sunrise ,#sunset, #temperature, #tempFeeling,
#wind,#humidity{
        display: table;
        width: 14%;
        float: left;
        padding: 5px 10px;
}

#weather{
        display: table;
        width: 16%;
        padding: 5px 10px;
}

#weather img{
        margin-left: 30px;
        width: 40px;
}

#sunrise img,
#sunset img,
#temperature img,
#tempFeeling img,
#wind img,
#humidity img {
        width: 30px;
        padding: 4px;
}


#sunrise div,
#sunset div,
#temperature div,
#tempFeeling div,
#wind div,
#humidity div {
        display: table;
        padding: 4px;
}

#sunrise img, #sunrise div,
#sunset img, #sunset div,
#temperature img, #temperature div,
#temperature2 img, #temperature2 div,
#tempFeeling img, #tempFeeling div,
#wind img, #wind  div,
#humidity img, #humidity div {
        float: left;
}


#map {
        height: 500px;
        width: 1200px;
        margin: 5px 0px
}

footer #info {
    background-color: rgb(30, 30, 30);
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0px;
    width: 100%;
}

footer table {
    color: rgb(255, 255, 255);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

footer table td {
    font-size: 14px;
    font-weight: 300;
}

footer table th {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

footer #disclaimer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
}

footer p:first-child {
    font-weight: bold;
    font-size: 14px;
}

footer #disclaimer span:hover,
footer table td span:hover {
    text-decoration-line: underline;
    cursor: pointer;
}