<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Server Error</h1>
    <h2> An error occured on the Server: This issue will soon be resolved</h2>
<a href="/">Home</a>
</body>
</html>

<!--{% extends 'base.html' %}-->

<!--{% block head %}-->
<!--    <title>Error_500</title>-->
<!--{% endblock %}-->


<!--{% block body %}-->
<!--    <div>-->
<!--        <h1>Server Error</h1>-->
<!--        <h2> An error occured on the Server: This issue will soon be resolved</h2>-->
<!--        <a href="/">Home</a>-->
<!--    </div>-->

<!--{% endblock %}-->