<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    <title>Finda Bike</title>
</head>

<body>
<header>
    <div id="date-time">Date and time will go here</div>
    <h1>Finda Bike Dublin</h1>
    <div id="sm-icons">SM icons will go here</div>
</header>

<main>

    <div id="selections">

        <select name=stopID method="POST">
        {% for data in datalist %}
        <option value="{{data.Stop_Number}}" SELECTED>{{data.Stop_Number}}</option>
        "
        {% endfor %}
        </select>

        <select name=stopName method="GET" action="/">
        {% for data in datalist %}
        <option value="{{data.Stop_Address}}" SELECTED>{{data.Stop_Address}}</option>
        "
        {% endfor %}
        </select>

        <input type="submit" text="Submit">

        <div id="radio-buttons">3 radio buttons will go here</div>
    </div>

    <div id="weather">Current weather info will go here, layered on top of map with a transparency effect
    <img id="weatherIcon" src="/static//icons/Cloud.png" height="60" align="middle">
    </div>
    <div id="map">

        <div>{{noStatic}}</div>

        <script type="text/javascript" src="{{ url_for('static', filename='/javascript/map.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='/javascript/weather.js') }}"></script>

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5dFU2BP2XoXKi5vnrfvNqkAxJRXJQDBc&callback=initMap">
        </script>
    </div>

    <div id="predictions">availability predictions will go here</div>

</main>

<footer>Footer: Various links and image credits will go here</footer>

</body>