<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    <title>Finda Bike</title>
</head>

<body>
<h1>Finda Bike Dublin</h1>

<select name=stopID method="POST">
    {% for data in datalist %}
    <option value="{{data.Stop_Number}}" SELECTED>{{data.Stop_Number}}</option>
    "
    {% endfor %}
</select>

<select name=stopName method="GET" action="/">
    {% for data in datalist %}
    <option value="{{data.Stop_Address}}" SELECTED>{{data.Stop_Address}}</option>
    "
    {% endfor %}

</select>
<input type="submit" text="Submit">
<img id="weatherIcon" src="/static//icons/Cloud.png" height="60" align="middle">
<span id="temperature"></span>
<div>{{noStatic}}</div>
<div id="map"></div>

<script type="text/javascript" src="{{ url_for('static', filename='/javascript/map.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='/javascript/weather.js') }}"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5dFU2BP2XoXKi5vnrfvNqkAxJRXJQDBc&callback=initMap">
</script>


